body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:hover{
  text-decoration: none;
}

.rounded {
  border-radius: 15px !important;
}

button{
  border-radius: 25px !important;
}

.component{
  box-shadow: 1px 2px 3px grey;
  border-radius: 6px;
}

.bg-green{
  background-color: #28a745;
  color: white;
  box-shadow: 0px 3px 4px #c5c5c5;
}

.bg-green:active{
  background-color: #265f2f;
  color: white;
  box-shadow: 0px 3px 4px #c5c5c5;
}

.btn-create{
  background-image: url("./img/plusIcon.svg");
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border-radius: 50px;
}

.downvote, .upvote{
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.downvote{
  background-image: url("./img/arrow-down.svg");
}

.upvote{
  background-image: url("./img/arrow-up.svg");
}

.btn-edit, .btn-delete{
  cursor: pointer;
  color: rgb(4, 129, 255);
}

.btn-edit:hover, .btn-delete:hover{
  color: rgb(67, 112, 156);
  text-decoration: underline;
}

.card, .component-list{
  box-shadow: 1px 2px 3px #ddd;
}

.card-deck > .card{
  min-width: calc(100% / 3);
  margin: 5px;
}

.overlay {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.rmodal {
  position: relative;
  width: calc(40% - 42px);
  margin: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
  border-radius: 10px;
}